<%= stylesheet_link_tag 'issue_view_columns', plugin: "redmine_issue_view_columns", media: 'all'%>
<%= javascript_include_tag(:'issue_view_default_columns', plugin: "redmine_issue_view_columns") %>

<fieldset class="box">
  <legend>Select default columns for issue's subtasks and related issues:</legend>
    <%= render_query_columns_selection(
            IssueQuery.new(:column_names => Setting.plugin_redmine_issue_view_columns["issue_view_default_columns"]),
            :name => 'settings[issue_view_default_columns]') %>
</fieldset>

<div class="field">
  <%= label_tag 'settings_relations_display_limit', l(:label_issue_view_columns_relations_limit) %>
  <%= number_field_tag 'settings[relations_display_limit]',
                       Setting.plugin_redmine_issue_view_columns["relations_display_limit"],
                       min: 0,
                       class: 'relations-limit-input' %>
  <em class="info"><%= l(:label_issue_view_columns_relations_limit_hint) %></em>
</div>

<style>
.tabular.settings label {
    margin-left: 0px !important;
    font-weight: bold !important;
}

.tabular label {
    text-align: right !important;
    float: none !important;
}
</style>
